<section>
  <div class="main">

    <div class="sedans">
      <div class="texto">
        <img src="assets/icon-sedans.svg">
        <h1>SEDANS</h1>
        <p>Chose a sedan for its<br>affordability and excellent<br>fuel economy.Ideal for<br>cruising in the city or on<br>your next road trip.</p>
        <button class="buttonsedans">
          Learn More
        </button>
      </div>
    </div>

    <div class="suvs">
      <div class="texto2">
        <img src="assets/icon-suvs.svg">
        <h1>SUVS</h1>
        <p>Chose a sedan for its<br>affordability and excellent<br>fuel economy.Ideal for<br>cruising in the city or on<br>your next road trip.</p>
        <button class="buttonsuvs">
          Learn More
        </button>
      </div>
    </div>

    <div class="luxury">
      <div class="texto3">
        <img src="assets/icon-luxury.svg">
        <h1>LUXURY</h1>
        <p>Chose a sedan for its<br>affordability and excellent<br>fuel economy.Ideal for<br>cruising in the city or on<br>your next road trip.</p>
        <button class="buttonluxury">
          Learn More
        </button>
      </div>
    </div>

  </div>
</section>
